<h2>Listing articles</h2>

<p><%= link_to "New article", new_article_path, class: 'btn btn-dark' %></p>


<p>
  <%= form_tag articles_path, method: :get, remote: true do %>
  <div class="input-group">
    <%= text_field_tag :q, "", value: params[:q], class: "form-control" %>
    <span class="input-group-btn">
      <%= submit_tag "Search", class: 'btn btn-default' %>
      <%= link_to "Clear", articles_path, class: 'btn btn-success' %>
    </span>
  </div>
<% end %>
</p>

<div id="article_list">
  <%= render 'list' %>
</div>
